
<!DOCTYPE html>
<html>
  <head>
    <title>Austin Schneider</title>
    <meta content='user-scalable=no, width=device-width' name='viewport'>
    <meta content='A7MGIgDVZlzzNNPOeyI58UzHiQqbEU77zOW7Lr7hvLs' name='google-site-verification'>
    <%= csrf_meta_tag %>
    <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link href='/favicon.ico' rel='icon' type='image/x-icon'>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <h1>Austin Schneider</h1>

    <p>
      <script>
        var a = new Array('der.com','inschnei','me@aust');
        document.write("<a href='mailto:"+a[2]+a[1]+a[0]+"'>"+a[2]+a[1]+a[0]+"</a>");
      </script>
    </p>

    <ul>
      <li><a href="https://github.com/austinthecoder">GitHub</a></li>
      <li><a href="http://twitter.com/austinthecoder">Twitter</a></li>
      <li><a href="http://stackoverflow.com/users/266809/austin">Stack Overflow</a></li>
      <li><a href="http://www.linkedin.com/in/austinschneider">LinkedIn</a></li>
      <li><a href="http://instagram.com/soccer022483">Instagram</a></li>
    </ul>
  </body>
</html>
