%h2 On The Web

%ul.menu
  %li= link_to "Facebook", "http://facebook.com/soccer022483"
  %li= link_to "Twitter", "http://twitter.com/austinthecoder"
  %li= link_to "GitHub", "https://github.com/soccer022483"
  %li= link_to "LinkedIn", "http://www.linkedin.com/in/austinschneider"
  -#%li= link_to "Tumblr", "http://austinthecoder.tumblr.com"