//= require 'reset'
//= require_self

@import "compass/css3";
@import "compass/layout/sticky-footer";

$bg_color: #303030;
$font_color: #fff;
$font_size: 16px;
$footer_top_and_bottom_padding: 10px;

//////////////////////////////////////////////////

@font-face {
  font-family: 'Squada One';
  font-style: normal;
  font-weight: 400;
  src: local('Squada One'), local('SquadaOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/squadaone/v2/DIbfqh10Zkwc_Qd08Y0sab3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: normal;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('http://themes.googleusercontent.com/font?kit=7jR1T900H5YEkd1UcZhA_fesZW2xOQ-xsNqO47m55DA') format('truetype');
}

body {
  background: $bg_color;
  color: $font_color;
  font-family: 'Vollkorn', "Lucida Grande", serif;
  font-size: $font_size;
  line-height: 1.6em;
}

a {
  color: #c0c0ff;
  text-decoration: none;
}

h1 {
  font-family: 'Squada One', "Lucida Grande", serif;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1em;
}

h2 {
  font-family: 'Squada One', "Lucida Grande", serif;
  font-size: 2em;
  font-weight: normal;
  line-height: 1em;
  margin: 0 0 5px 0;
}

ul {
  margin: 0 0 1.5em 20px;

  li {
    list-style-type: disc;
  }
}

//////////////////////////////////////////////////

#header {
  padding: 30px 30px 20px 30px;

  #logo {
    #tag_line { color: darken($font_color, 40%); }
  }
}

#content {
  padding: 20px 30px;
}

#footer {
  background: darken($bg_color, 5%);
  color: darken($font_color, 30%);

  .inner { padding: $footer_top_and_bottom_padding 30px; }
}

@include sticky-footer(($font_size * 1.5 + ($footer_top_and_bottom_padding * 2)), "#container");