//= require 'reset'
//= require_self

@import "compass/css3";

$bg_color: #252525;
$font_color: #fff;
$font_size: 30px;
$footer_top_and_bottom_padding: 10px;

//////////////////////////////////////////////////

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: normal;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('http://themes.googleusercontent.com/font?kit=7jR1T900H5YEkd1UcZhA_fesZW2xOQ-xsNqO47m55DA') format('truetype');
}

body {
  background: $bg_color;
  color: $font_color;
  font-family: 'Vollkorn', "Lucida Grande", serif;
  font-size: $font_size;
  line-height: 1.6em;
  padding: 20px 30px;
}

a {
  color: #c0c0ff;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1em;
}

h2 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1em;
  margin: 0 0 5px 0;
}

ul {
  margin: 0 0 1.5em 20px;

  li {
    list-style-type: disc;
  }
}

p {
  margin: 0 0 1.5em 0;
}
